<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="維特魯威人 Vitruvian Man">
    <meta property="og:url" content="https://vinci.limaois.me/">
    <meta property="og:image" content="https://vinci.limaois.me/assets/hero.png">
    <meta property="og:description" content="計算你與達文西的維特魯威人有多相似，看看你有沒有「完美身材」！">
    <title>維特魯威人 Vitruvian Man</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="app" class="container-fluid p-0">
        <section id="form">
            <div class="row hero">
                <div class="hero-img mx-auto">
                </div>
            </div>
            <div class="row about">
                <div class="container info mx-auto font-sans">
                    <h2>黃金比例以及維特魯威人</h2>
                    <img src="assets/golden.png" alt="黃金比例以及維特魯威人">
                    <p>黃金分割具有嚴格的比例性、藝術性、和諧性，蘊藏著豐富的美學價值，呈現於不少動物和植物的外觀。現今很多工業產品、電子產品、建築物或藝術品均普遍應用黃金分割，展現其功能性與美觀性。 <br><br>
                    達文西按照一位古羅馬建築師，維特魯威(Vitruvius)所留下關於比例的學說，繪製出一個具黃金比例的人體圖像－維特魯威人。
                    </p>
                </div>
            </div>
            <div class="row desktop-form d-none d-sm-block">
                <div class="form mx-auto font-sans">
                    <h2>Step 1. 填寫資料參加抽獎</h2>
                    <div class="input-group">
                        <span>姓名</span><input type="text" class="col" v-model="name">
                    </div>
                    <div class="input-group w-100">
                        <span class="col p-0">性別</span>
                        <div>
                            <label for="male" class="mr-4"><input type="radio" id="male" v-model="gender" value="male"><i></i>男</label>
                            <label for="female"><input type="radio" id="female" v-model="gender" value="female"><i></i>女</label>
                        </div>
                    </div>
                    <div class="input-group w-100">
                        <span class="col p-0">是否為台科學生？</span>
                        <div>
                            <label for="ntust" class="mr-4"><input type="radio" id="ntust" v-model="isNtust" value="yes"><i></i>是</label>
                            <label for="notntust"><input type="radio" id="notntust" v-model="isNtust" value="no"><i></i>否</label>
                        </div>
                    </div>
                    <div class="input-group" v-if="isNtust === 'yes'">
                        <span>電話</span><input type="text" class="col" v-model="phone">
                    </div>
                    <div class="input-group" v-if="isNtust === 'yes'">
                        <span>電子郵件</span><input type="text" class="col" v-model="email">
                    </div>
                </div>
            </div>
            <div class="row input font-sans text-white">
                <div class="container calc mx-auto">
                    <div class="row">
                        <div class="col helper">
                            <h2>Step 2.</h2>
                            <p>請在６處空格，填入丈量後的數據 (單位：公分)，我們將告訴你，你的身材符合黃金比例嗎？</p>
                        </div>
                        <div class="col fields">
                            <div class="field">
                                <p>身高
                                    <small class="text-muted help-text">背對牆壁站直，用手平行地面在牆上做記號，用卷尺測量高度。</small></p>
                                <div class="icon" style="background-image: url('assets/a.png')"></div>
                                <input type="number" v-model="parameters.a" data-toggle="tooltip" data-placement="bottom" title="背對牆壁站直，用手平行地面在牆上做記號，用卷尺測量高度。">
                            </div>
                            <div class="field">
                                <p>雙臂展開長
                                    <small class="text-muted help-text">雙手抓住一條繩子，展開雙臂拉直繩子，在握住的位置畫上記號後用尺測量。</small></p>
                                <div class="icon" style="background-image: url('assets/b.png')"></div>
                                <input type="number" v-model="parameters.b" data-toggle="tooltip" data-placement="bottom" title="雙手抓住一條繩子，展開雙臂拉直繩子，在握住的位置畫上記號後用尺測量。">
                            </div>
                        </div>
                        <div class="col fields">
                            <div class="field">
                                <p>額頭長度（髮線到眉毛）
                                    <small class="text-muted help-text">用手指夾住一條繩子並讓手對齊髪線，另一隻手從夾住端往下拉直到眉毛上緣，繩子須伸直且垂直地面，在夾住的位置畫上記號後測量。</small></p>
                                <div class="icon" style="background-image: url('assets/c.png')"></div>
                                <input type="number" v-model="parameters.c" data-toggle="tooltip" data-placement="bottom" title="用手指夾住一條繩子並讓手對齊髪線，另一隻手從夾住端往下拉直到眉毛上緣，在夾住的位置畫上記號後測量。">
                            </div>
                            <div class="field">
                                <p>臉部長度（髮線到下顎）
                                    <small class="text-muted help-text">用手指夾住一條繩子並讓手對齊髪線，另一隻手從夾住端往下拉直到下顎底部，繩子須伸直且垂直地面，在夾住的位置畫上記號後測量。</small></p>
                                <div class="icon" style="background-image: url('assets/d.png')"></div>
                                <input type="number" v-model="parameters.d" data-toggle="tooltip" data-placement="bottom" title="用手指夾住一條繩子並讓手對齊髪線，另一隻手從夾住端往下拉直到下顎底部，在夾住的位置畫上記號後測量。">
                            </div>
                        </div>
                        <div class="col fields">
                            <div class="field">
                                <p>頭部長度（頭頂到下顎）
                                    <small class="text-muted help-text">背對牆壁站直，用手平行地面且頂住頭頂後在牆上做記號，接著手平行地面且頂住下顎後在牆上做記號，用卷尺測量兩個記號之間的長度。</small></p>
                                <div class="icon" style="background-image: url('assets/e.png')"></div>
                                <input type="number" v-model="parameters.e" data-toggle="tooltip" data-placement="bottom" title="背對牆壁站直，用手平行地面且頂住頭頂後在牆上做記號，接著手平行地面且頂住下顎後在牆上做記號，用卷尺測量兩個記號之間的長度。">
                            </div>
                            <div class="field">
                                <p>手掌長度
                                    <small class="text-muted help-text">將手指併攏攤平後量測中指尖端到手腕的第一條紋路。</small></p>
                                <div class="icon" style="background-image: url('assets/f.png')"></div>
                                <input type="number" v-model="parameters.f" data-toggle="tooltip" data-placement="bottom" title="將手指併攏攤平後量測中指尖端到手腕的第一條紋路。">
                            </div>
                        </div>
                    </div>
                    <div class="row text-center d-none d-sm-block">
                        <div class="col">
                            <button class="btn-submit" @click="submit()">開始計算</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mobile-form form d-block d-sm-none font-sans">
                <h2>填寫資料參加抽獎</h2>
                <div class="input-group">
                    <span>姓名</span><input type="text" class="col" v-model="name">
                </div>
                <div class="input-group w-100">
                    <span class="col p-0">性別</span>
                    <div>
                        <label for="male" class="mr-4"><input type="radio" id="male" v-model="gender" value="male"><i></i>男</label>
                        <label for="female"><input type="radio" id="female" v-model="gender" value="female"><i></i>女</label>
                    </div>
                </div>
                <div class="input-group w-100">
                    <span class="col p-0">是否為台科學生？</span>
                    <div>
                        <label for="ntust" class="mr-4"><input type="radio" id="ntust" v-model="isNtust" value="yes"><i></i>是</label>
                        <label for="notntust"><input type="radio" id="notntust" v-model="isNtust" value="no"><i></i>否</label>
                    </div>
                </div>
                <div class="input-group" v-if="isNtust === 'yes'">
                    <span>電話</span><input type="text" class="col" v-model="phone">
                </div>
                <div class="input-group" v-if="isNtust === 'yes'">
                    <span>電子郵件</span><input type="text" class="col" v-model="email">
                </div>
            </div>
            <div class="row mobile-submit d-block d-sm-none text-center">
                <div class="col">
                    <button class="btn-submit font-sans m-4" @click="submit()">開始計算</button>
                </div>
            </div>
        </section>
        <section id="loading">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </section>
        <section id="result">
            <canvas id="result-screen"  class="d-none"></canvas>
            <div class="score"></div>
            <div class="text">
                <div>
                    <span>
                        {{ text }}
                    </span>
                    <div class="result-btns">
                        <button class="btn-share font-sans" @click="share()"><i class="fa fa-facebook-square"></i> 將結果分享到FB</button>
                        <button class="btn-replay font-sans" @click="replay()">重新計算</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Prod
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    -->
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                'isNtust': 'yes',
                'name': '',
                'phone': '',
                'email': '',
                'gender': '',
                'parameters': {
                    'a': undefined,
                    'b': undefined,
                    'c': undefined,
                    'd': undefined,
                    'e': undefined,
                    'f': undefined,
                },
                'score': 80,
                'text': '',
            },
            methods: {
                submit() {
                    $('#form').fadeOut()
                    $('#loading').fadeIn()
                    let url = new URL('https://script.google.com/macros/s/AKfycbxrVYZSBw6zaJOh5qA89ki6GZe9BERE-0fDVmnB63ieJM80yIs/exec')
                    let params = url.searchParams
                    params.append('a', this.parameters.a)
                    params.append('b', this.parameters.b)
                    params.append('_c', this.parameters.c)
                    params.append('d', this.parameters.d)
                    params.append('e', this.parameters.e)
                    params.append('f', this.parameters.f)
                    params.append('name', this.name)
                    params.append('phone', this.phone)
                    params.append('gender', this.gender)
                    params.append('email', this.email)
                    params.append('isNtust', this.isNtust)
                    this.$http.get(url.href).then(res => {
                        if (res.body.score) {
                            this.score = res.body.score
                            this.showResult(() => {
                                $('#loading').fadeOut()
                                $('#form').fadeIn()
                            })
                            if (this.score > 95) {
                                this.text = '你非常接近維特魯威人的身材了！達文西將會深深的著迷於你，該考慮去當模特兒了吧！'
                            } else if (this.score > 85) {
                                this.text = '你跟維特魯威人的身材還有一些差距，這樣的你顯得平易近人，更讓人親近！'
                            } else {
                                this.text = '你跟維特魯威人的身材差距很大，顯然你並不盲從過時的審美觀，獨樹一格的你開創了一條全新的路，相信未來世界的審美觀都將因你而改變！'
                            }
                            $('#loading').fadeOut()
                            $('#result').fadeIn()
                        } else {
                            alert('輸入無效。')
                            $('#loading').fadeOut()
                            $('#form').fadeIn()
                        }
                    }).catch(err => {
                        alert('網路錯誤。')
                        $('#loading').fadeOut()
                        $('#form').fadeIn()
                    })
                },
                replay() {
                    $('#result').fadeOut()
                    $('#form').fadeIn()
                },
                share() {
                    FB.ui({
                        method: 'share',
                        href: 'https://vinci.limaois.me/' + this.score,
                        quote: `【你的身材是黃金比例嗎？】
黃金比例被認為是藝術中最理想的比例，符合此比例的建築、繪畫甚至是音樂將蘊含著豐富的美學價值、引起人們的美感。
而達文西的作品《維特魯威人》便是按照黃金比例、結合人體所繪製的名畫，
越接近維特魯威人的身材比例，便代表你越符合黃金比例的美學。

快點擊下方連結測試看看自己的身材跟維特魯威人的相似度吧！

活動名稱：科技前鋒─達文西逝世500周年紀念展
展覽地點：台科大T4一樓穿堂
展覽時間：2019/09/09(一)-2019/09/20(五)`
                    })
                },
                showResult(cb) {
                    let tenscore = Math.floor(this.score / 10) 
                    let onescore = this.score % 10
                    let rsc = document.getElementById('result-screen')
                    let rsx = rsc.getContext('2d')
                    let bg = new Image()
                    let mag, x, y
                    if (window.innerHeight <= window.innerWidth) {
                        rsc.width = 2400
                        rsc.height  = 1062
                        mag = 2
                        x = 1680
                        y = 770
                        bg.src = 'assets/bg.png'
                    } else {
                        rsc.width = 575
                        rsc.height  = 846
                        mag = 1.35
                        x = 340
                        y = 320
                        bg.src = 'assets/bg_v.png'
                    }
                    bg.onload = () => {
                        rsx.drawImage(bg, 0, 0, rsc.width, rsc.height)

                        let score = document.createElement('canvas')
                        score.width = score.height = 0
                        let scorex = score.getContext('2d')
                        let tens = new Image()
                        tens.src = `assets/${tenscore}.png`
                        tens.onload = () => {
                            score.width += tens.width * mag
                            score.height = tens.height * mag
                            let ones = new Image()
                            ones.src =`assets/${onescore}.png`
                            ones.onload = () => {
                                score.width += ones.width * mag
                                score.height = ones.height > tens.width ? ones.height * mag : tens.height * mag
                                scorex.drawImage(tens, 0, 0, tens.width * mag, tens.height * mag)
                                scorex.drawImage(ones, tens.width * mag - 12, 0, ones.width * mag, ones.height * mag)

                                rsx.rotate(-8*Math.PI/180)
                                rsx.drawImage(score, x, y)
                                document.querySelector('.score').style.backgroundImage = `url('${rsc.toDataURL()}')`
                                cb()
                            }
                        }
                    }  
                }
            }
        })
        if (window.innerWidth >= 860) {
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        }
        window.fbAsyncInit = function() {
            FB.init({
            appId            : '2353296368263901',
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v4.0'
            })
        }
    </script>
    <script src="https://connect.facebook.net/zh_TW/sdk.js"></script>
</body>
</html>